.start-main-content{
    position: relative;
    width: 1024px;
    margin:0 auto;
}

.start-section-top{
    margin-top: 68px;
    height: 100vh-68px;
    background-color: #f1f8e9;
    position: relative;
}

#map{
    width: 1024px;
    height: 900px;
}

/*왼쪽 정보패널*/
.map-infoPanel{
    background-color: #fff;
    width: 25%;
    height: 100%;
    position: absolute;
    z-index: 100;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

/*사용 전 화면*/
.map-infoPanel-rent{
    width: 100%;
    height: 165px;
    border: 1px solid #eee;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 10px;
}
.map-infoPanel-rent-text{
    font-size: 0.9rem;
    color: #495057;
    display: flex;
    align-items: center;
}
.map-infoPanel-rent-cost{
    width: 100%;
    height: 40px;
    display: flex;
    border: 1px solid #eee;
    justify-content: center;
    flex-direction: row;
    color: gray;
    margin-top: 5px;
}
.map-infoPanel-rent-cost * {
    font-size: 0.8rem;
}
.map-infoPanel-rent-cost i {
    font-size: 0.7rem;
}
.map-infoPanel-rent-cost-firstCost{
    height: 100%;
    border-right: 1px solid #eee;
    display: flex;
    align-items: center;
}
.map-infoPanel-rent-cost-usetCost{
    display: flex;
    align-items: center;
    height: 100%;
   
}
.map-infoPanel-rent-cost-text {
    color: #558203;
    font-weight: bold;
    
}
.map-infoPanel-rent-button{
    width: 100%;
    height: 40px;
    background-color: #f1f8e9;
    border: 1px solid #eee;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}
.map-infoPanel-rent-button:hover{
    background-color: #fff;
}


/*현재 사용 중 화면*/
.map-infoPanel-using{
    width: 100%;
    height: 160px;
    border: 1px solid #eee;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 10px;
}
.map-infoPanel-using-text{
    font-size: 0.9rem;
    color: #495057;
    display: flex;
    align-items: center;
}
.map-infoPanel-using-button{
    width: 100%;
    height: 40px;
    background-color: #f1f8e9;
    border: 1px solid #eee;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}

.map-infoPanel-using-button:hover{
    background-color: #fff;
}
/*사용 완료 화면*/
.map-infoPanel-used{
    width: 100%;
    height: 160px;
    border: 1px solid #eee;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 10px;
}
.map-infoPanel-used-text{
    font-size: 0.9rem;
    color: #495057;
    display: flex;
    align-items: center;
}
.map-infoPanel-used-button{
    width: 100%;
    height: 40px;
    background-color: #f1f8e9;
    border: 1px solid #eee;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}
.map-infoPanel-used-button:hover{
    background-color: #fff;
}
.pin{
    width:30px;
    height:30px;
    filter:drop-shadow(1px 1px 1px #000);
}