/*section common css*/
.myPage-main-section {
  margin-top: 68px;
  height: 100vh-68px;
  min-height: 900px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myPage-main-content {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  display: flex;
    flex-direction: column;
  justify-content: center;
}
.myPage-main-content-myInfo{
    background-color: #fff;
    width: 100%-18px;
    border: 1px solid #eee;
    height: 160px;
    margin: 30px 0px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.myPage-main-content-myInfo-profileLeft{
    display: flex;
    flex-direction: row;
}
.myPage-main-content-myInfo-profileLeft img{
    //border: 1px solid black;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
.myPage-main-content-myInfo-profileText{
    display: flex;
    flex-direction: column;
    //border: 1px solid green;
    margin-left: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
}
.myPage-main-content-myInfo-profileText-name{
    font-size: 1.3rem;
}
.myPage-main-content-myInfo-profileRight{
    display: flex;
    flex-direction: column;
    //border: 1px solid green;
}
.myPage-main-content-myInfo-profileRight-profileEditButton{
    width: 120px;
    border-radius: 5px;
    border: solid 1px #e9ecef;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    background-color: #f1f8e9;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #495057;
    outline: none;
    cursor: pointer;
}
.myPage-main-content-myInfo-profileRight-profileEditButton:hover{background-color: #fff;}
.myPage-main-content-container{
    width: 100%;
    //border: 1px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.myPage-main-content-container-box{
    background-color: #fff;
    width: 455px;
    height: 255px;
    border: 1px solid #eee;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
}
.myPage-main-content-container-box-title{
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.3rem;
    color: #558203;
    margin-bottom: 10px;
}
.myPage-main-content-container-box-rank{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.myPage-main-content-container-box-rank img{
	width: 200px;
	height: 200px;
}
.myPage-main-content-container-box-innerbox{
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 10px;
	width: 415px;
	margin: 2.5px;
}

.myPage-main-content-container-box-innerbox:hover {
	background: #eee;
}
.agreementDocumentLink:link{
	text-decoration: none;
	color: #000;
}
.agreementDocumentLink:hover{
	text-decoration: none;
	color: #000;
}
.agreementDocumentLink:visited{
	text-decoration: none;
	color: #000;
}
.myPage-main-content-document{
	background-color: #fff;
    width: 100%-18px;
    min-height: 800px;
    border: 1px solid #eee;
    margin: 30px 0px;
    border-radius: 10px;
    padding: 20px;
    
    
}
.myPage-main-content-document *{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.8rem !important;
}
.myPage-main-content-document-title{
	text-align: center;
}
ol ol {
    list-style: none;
}