.start-main-content{
    position: relative;
    width: 1024px;
    margin:0 auto;
}

.start-section-top{
    margin-top: 68px; /*68px*/
	padding: 50px 0px;
    height: 100vh-68px;
    background-color: #f1f8e9;
    position: relative;
}

#map{
    width: 1024px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*왼쪽 정보패널*/
.map-infoPanel{
    background-color: #fff;
    width: 25%;
    height: 100%;
    position: absolute;
    z-index: 100;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

/*사용 전 화면*/
.map-infoPanel-rent{
    width: 250px;
    height: 165px;
    border: 1px solid #eee;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.map-infoPanel-rent-text{
    font-size: 0.9rem;
    color: #495057;
    display: flex;
    align-items: center;
}
.map-infoPanel-rent-cost{
    width: 100%;
    height: 40px;
    display: flex;
    border: 1px solid #eee;
    justify-content: center;
    flex-direction: row;
    color: gray;
    margin-top: 5px;
}
.map-infoPanel-rent-cost * {
    font-size: 0.8rem;
}
.map-infoPanel-rent-cost i {
    font-size: 0.7rem;
}
.map-infoPanel-rent-cost-firstCost{
    height: 100%;
    border-right: 1px solid #eee;
    display: flex;
    align-items: center;
}
.map-infoPanel-rent-cost-usetCost{
    display: flex;
    align-items: center;
    height: 100%;
   
}
.map-infoPanel-rent-cost-text {
    color: #558203;
    font-weight: bold;
    
}
.map-infoPanel-rent-button{
    width: 100%;
    height: 40px;
    background-color: #f1f8e9;
    border: 1px solid #eee;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0px;
}
.map-infoPanel-rent-button:hover{
    background-color: #fff;
}


/*현재 사용 중 화면*/
.map-infoPanel-using{
    width: 250px;
    height: 160px;
    border: 1px solid #eee;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.map-infoPanel-using-text{
    font-size: 0.9rem;
    color: #495057;
    display: flex;
    align-items: center;
}
#timeArea, #cost{
	font-size: 0.9rem;
    color: #495057;
    align-items: center;
}
.map-infoPanel-using-button{
    width: 100%;
    height: 40px;
    background-color: #f1f8e9;
    border: 1px solid #eee;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0px;
}

.map-infoPanel-using-button:hover{
    background-color: #fff;
}
/*사용 완료 화면*/
.map-infoPanel-used{
    width: 400px;
    height: 200px;
    border: 1px solid #eee;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 10px;
    margin: 15% auto;
}
.map-infoPanel-used-text{
    font-size: 1.2rem;
    color: #495057;
    display: flex;
    align-items: center;
}
.map-infoPanel-used-button{
    width: 100%;
    height: 50px;
    background-color: #f1f8e9;
    border: 1px solid #eee;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 0px;
}
.map-infoPanel-used-button:hover{
    background-color: #fff;
}

 /* The Modal (background) */
 .modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 10000; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }



.pin{
    width:30px;
    height:33px;
    filter:drop-shadow(1px 1px 1px #000);
}