@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

.board-main-section{
    margin-top: 68px;
    height:100vh-68px;
    min-height: 900px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-main-content{
    position: relative;
    width: 1024px;
    margin:0 auto;
    //border: 3px solid pink;
    
}

.board-container{
    width: 100%;
    //border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.board-kind{
    font-family: 'Gugi', cursive;
    font-size: 2.5rem;
    color: #558203;
    margin-bottom: 10px;
    margin-left: 10px;
}
.board-box{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    height: 705px;
    //border: 2px solid orange;
    width: 1004px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.board-section{
    border: 1px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 10px;
    background-color: #fff;
    margin: 1px;
    
}
.board-th{
    text-align: center !important;
    font-weight: bold;
    color: #000 !important;
    font-size: 1.1rem;
}
.board-section > *{
    //border: 1px solid red;
    white-space: nowrap;
    padding: 0 10px;
    text-align: center;
}

.board-section > *:not(.board-recommend){border-right: 1px solid #eee;}

.board-no{
    min-width: 50px;
}
.board-title{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}
.board-reg_name{
    min-width: 120px;
}
.board-reg_date{
    min-width: 90px;
}
.board-hit{
    min-width: 50px;
}
.board-recommend{
    min-width: 50px;
    font-weight: bold;
    color: #558203;
}
.board-bottom{
    margin: 10px 0;
    //border: 1px solid red;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.board-write-button{
    width: 140px;
    border-radius: 5px;
    border: solid 1px #e9ecef;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 40px;
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #495057;
    outline: none;
    cursor: pointer;
}

.board-write-button:hover {background-color: #eee;}


.board-write-button > div{
    flex: 1;
}

.board-bottom-blank{
    width: 140px;
}


.board-paging{
    width: 300px;
    display: flex;
    flex-direction: row;
    //border: 1px solid red;
    justify-content: space-between;
    cursor: pointer;
}

.board-paging > div{
    font-family: 'Gugi', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
}