@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

/*section common css*/
.anchor{
    display: block;
    height: 68px;       
    margin-top: -68px;  
    visibility: hidden;
}

.home-main-section{
    height: 760px;
    background-color: #fff;
}

.home-main-content{
    position: relative;
    width: 1024px;
    margin:0 auto;
}


h1{
    font-size: 3rem;    
}








/*section top css*/
.home-main-section-top{
    margin-top: 68px;
    height: 760px;
    background-color: #f1f8e9;
    position: relative;
}

.titleText{
    font-family: 'Gugi', cursive;
    font-size: 3.5rem;
    line-height: 1.3;
    padding-top: 20rem;
    margin-bottom: 2rem;
    letter-spacing: -0.4px;
    color: #558203;
    
}
.text-m{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.2rem !important;
    line-height: 1.5;
    letter-spacing: -0.3px;
    color: #495057;
}
.home-main-image-top img{
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 600px;
    height: 500px;
    transition: 0.5s;
}
.home-main-image-top img:hover{
    transform: rotate(-10deg);
}








/*section2 css*/
.home-main-content-box-container{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}
.home-main-content-box{
    width: 270px;
    height: 550px;
    display: flex;
    flex-direction: column;
    /*border: solid 1px #e9ecef;*/
    padding: 30px;
}
.home-main-content-box-txt{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.home-main-content-box-title{
   font-family: 'Gugi', cursive;
    font-size: 1.7rem;
    color: #558203; 
}

.home-main-content-box img{
    transition: 0.5s;
}
.home-main-content-box img:hover{
    transform: scale(1.1);
}








/*section3 css*/
.how-to-use-title{
    text-align: center;
    padding-top: 20px;
}

.how-to-use-box-container{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: #495057;
}
.how-to-use-box-container ul{
    list-style: inherit;
}
.how-to-use-txt-title{
    margin-top: 20px;
    font-family: 'Gugi', cursive;
    font-size: 2rem;
    color: #558203;
}







/*section4 css*/
.for-safe-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: #495057;
    text-align: center;
    padding-top: 20px;
}
.for-safe-box-container{
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.for-safe-box{
    width: 400px;
    height: 150px;
    /*border: solid 1px #e9ecef;*/
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.for-safe-box-txt{
 padding-left: 53px;   
}
.for-safe-box-txt-title{
    font-family: 'Gugi', cursive;
    font-size: 1.8em;
}
.for-safe-box-txt-content{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}













/*section5 css*/
.faq-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: #495057;
    text-align: center;
    padding-top: 20px;
}
.faq-box-container{
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.faq-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.faq-box-button{
    background-color: #F8F9FA;
    width: 165px;
    height: 60px;
    border: solid 1px #e9ecef;
    padding: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3rem;
    color: #495057;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.faq-box-button:hover {
    background-color: #eee;
}
